*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.pasteWrapper{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

