@media only screen and (min-width:320px){
    body{
        height: 200vh;
    }
    nav{
        background-color: rgb(23, 23, 23);
        color: white;
        width: 100%;
        position: sticky;
        top: 0;
    }
    ul{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .conteiner{
        height: 10vh;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    .burger{
        display: none !important;
        width: 200px;
        height: 100%;
        background-color:black;
    }
    .burgerLi li{
        font-size: 20px;
        color: var(--fff);
        font-family: var(--Quatrr);
        list-style-type: none;
        padding: 30px;
        border-bottom: solid 2px;
    }
    .burger.show {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        position: fixed;
        top: 0;
        right: 0;
        -webkit-transition: 2s;
        -o-transition: 2s;
        transition: 2s;
    }
    .dactop{
        display: none;
    }
}
@media only screen and (min-width:480px){
    body{
        height: 200vh;
    }
    nav{
        background-color: rgb(23, 23, 23);
        color: white;
        width: 100%;
        position: sticky;
        top: 0;
    }
    ul{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .conteiner{
        height: 10vh;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    .burger{
        display: none !important;
        width: 300px;
        height: 100%;
        background-color:black;
    }
    .burgerLi li{
        font-size: 20px;
        color: var(--fff);
        font-family: var(--Quatrr);
        list-style-type: none;
        padding: 30px;
        border-bottom: solid 2px;
    }
    .burger.show {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        position: fixed;
        top: 0;
        right: 0;
        -webkit-transition: 2s;
        -o-transition: 2s;
        transition: 2s;
    }
    .dactop{
        display: none;
    }
}
@media only screen and (min-width:780px) {
    body{
        height: 200vh;
    }
    nav{
        background-color: rgb(23, 23, 23);
        color: white;
        width: 100%;
        position: sticky;
        top: 0;
    }
    ul{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .conteiner{
        height: 10vh;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    .burger{
        display: none !important;
        width: 400px;
        height: 100%;
        background-color:black;
    }
    .burgerLi li{
        font-size: 20px;
        color: var(--fff);
        font-family: var(--Quatrr);
        list-style-type: none;
        padding: 30px;
        border-bottom: solid 2px;
    }
    .burger.show {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        position: fixed;
        top: 0;
        right: 0;
        -webkit-transition: 2s;
        -o-transition: 2s;
        transition: 2s;
    }
    .dactop{
        display: none;
    }
}
@media only  screen and (min-width: 900px) {
    body{
        height: 200vh;
    }
    nav{
        background-color: rgb(23, 23, 23);
        color: white;
        width: 100%;
        position: sticky;
        top: 0;
    }
    ul{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .conteiner{
        height: 10vh;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    .burger{
        display: none !important;
        width: 500px;
        height: 100%;
        background-color:black;
    }
    .burgerLi li{
        font-size: 20px;
        color: var(--fff);
        font-family: var(--Quatrr);
        list-style-type: none;
        padding: 30px;
        border-bottom: solid 2px;
    }
    .burger.show {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        position: fixed;
        top: 0;
        right: 0;
        -webkit-transition: 2s;
        -o-transition: 2s;
        transition: 2s;
    }
    .dactop{
        display: block;
    }
}
@media only screen and (min-width: 1000px) {
    body{
        height: 200vh;
    }
    nav{
        background-color: rgb(23, 23, 23);
        color: white;
        width: 100%;
        position: sticky;
        top: 0;
    }
    ul{
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
    }
    .conteiner{
        height: 10vh;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    .burger{
        display: none !important;
        width: 200px;
        height: 100%;
        background-color:black;
    }
    .burgerLi li{
        font-size: 20px;
        color: var(--fff);
        font-family: var(--Quatrr);
        list-style-type: none;
        padding: 30px;
        border-bottom: solid 2px;
    }
    .burger.show {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        position: fixed;
        top: 0;
        right: 0;
        -webkit-transition: 2s;
        -o-transition: 2s;
        transition: 2s;
    }
    .show, .close, .menu {
        display: none;
    }
    .dactop{
        display: block;
    }
}